.bike-img-catalog{
    width:85%;
}

.sort-and-filter{
    margin-top: 5vh;
}

.description{
    margin-left: auto;
margin-right: auto;
}

.outOfStockAlert{
    color: red;
}

.tooltip-arrow {
    display: none !important;
}
